<%= form_for ([@able, @able.tasks.build]), :url => createpartial_tasks_path do |f| %>
  <div class = "basic-form">
    <%= render "tasks/fieldsets", f:f %>
  </div>  
  <div class = "basic-form-save-button">
	<%= image_submit_tag("save_button_icon.png", :title => "Save Task", :alt => "Save Task") %>
  </div>
<% end %>
