<h1>Edit <%= @template.name %></h1>
<div>
  <div id = "simple-control-bar" class = "basic-icon-bar">  
    <% if can? :read, Template %>
	  <div>
	    <%= link_to link_to image_tag("show_button_icon.png", title: "Template Details", alt: "Template Details"), template_path %>    
	  </div>
    <% end %>
    <% if can? :read, Template %>
	  <div>
	    <%= link_to link_to image_tag("list_button_icon.png", title: "Templates Index", alt: "Templates Index"), templates_path %>
	  </div>
    <% end %>
  </div>
  <div class = "sliding-plate">
    <div id = "plate-one">
      <div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
