<h1>Edit Client</h1>
<div>
  <div id = "simple-control-bar" class = "basic-icon-bar">  
    <% if can? :read, Client %>
	  <div>
	    <%= link_to link_to image_tag("show_button_icon.png", title: "Client Details", alt: "Client Details"), client_path %>    
	  </div>
    <% end %>
    <% if can? :read, Client %>
	  <div>
	    <%= link_to link_to image_tag("list_button_icon.png", title: "Clients Index", alt: "Clients Index"), clients_path %>
	  </div>
    <% end %>
  </div>
  <div class = "sliding-plate">
    <div id = "plate-one">
      <div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
