<h1>Edit Contact</h1>
<div>
  <div id = "simple-control-bar" class = "basic-icon-bar">  
    <% if can? :read, Contact %>
	  <div>
	    <%= link_to link_to image_tag("show_button_icon.png", title: "Contact Details", alt: "Contact Details"), contact_path %>    
	  </div>
    <% end %>
    <% if can? :read, Contact %>
	  <div>
	    <%= link_to link_to image_tag("list_button_icon.png", title: "Contacts Index", alt: "Contacts Index"), contacts_path %>
	  </div>
    <% end %>
  </div>
  <div class = "sliding-plate">
    <div id = "plate-one">
      <div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
