<%= form_for ([@able, @able.addresses.build]) do |f| %>
  <div class = "basic-form">
    <%= render "addresses/fieldsets", f:f %>
  </div>
  <div class = "basic-form-save-button">
    <%= image_submit_tag("save_button_icon.png", :title => "Save Insurance Company", :alt => "Save Insurance Company") %>
  </div>
<% end %>
