<h1>New Medical Provider</h1>
<div>
  <div id = "simple-control-bar" class = "basic-icon-bar">  
    <% if can? :read, MedicalProvider %>
	  <div>
	    <%= link_to link_to image_tag("list_button_icon.png", title: "Back to MedicalProvider",
	    alt: "Back to MedicalProvider"), medical_providers_path %>
	  </div>
    <% end %>
  </div>
  <div class = "sliding-plate">
    <div id = "plate-one">
      <div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
