<%= form_for ([@able, @able.email_addresses.build]) do |f| %>
  <div class = "basic-form">
    <%= render "email_addresses/fieldsets", f:f %>
  </div>
  <div class = "basic-form-save-button">
    <%= image_submit_tag("save_button_icon.png", :title => "Save E-Mail Address", :alt => "Save E-Mail Address") %>
  </div>
<% end %>
