<ul class = "short-left-menu">
  <li>
    <%= link_to link_to image_tag("home_tab.png", title: "Home", alt: "Home", style: "width:24px; height: 96px;"), home_home_path %>
    <ul class = "short-sub">
      <li class = "colored-lightest-grey">
        <a href = "/users" tabindex = "-1"><b>USERS</b><p>Index</p></a>
        <a href = "/tasks" tabindex = "-1"><b>TASKS</b><p>Index</p></a>
      </li>
    </ul>
  </li>
</ul>
<ul class = "left-menu">
  <li>
    <%= image_tag("cases_tab.png", title: "Cases", alt: "Cases", style: "width:24px; height: 96px;")%>
    <ul class = "sub">
      <li class = "colored-light-grey">
        <a href = "/bankruptcy_matters" tabindex = "-1"><b>BKR</b><p>Index</p></a>
	    <a href = "/commercial_matters" tabindex = "-1"><b>COM</b><p>Index</p></a>
	  </li>
      <li class = "colored-light-grey">
        <a href = "/family_matters" tabindex = "-1"><b>FAM</b><p>Index</p></a>
        <a href = "/foreclosure_matters" tabindex = "-1"><b>FOR</b><p>Index</p></a>
      </li>
      <li class = "colored-light-grey">
        <a href = "/modification_matters" tabindex = "-1"><b>MOD</b><p>Index</p></a>
        <a href = "/pi_matters" tabindex = "-1"><b>PI</b><p>Index</p></a>
      </li>
      <li class = "colored-light-grey">
        <a href = "/pip_matters" tabindex = "-1"><b>PIP</b><p>Index</p></a>
        <a href = "/civil_matters" tabindex = "-1"><b style = "font-size: 10px;">OTHER</b><p>Index</p><i></i></a>
      </li>
    </ul>
  </li>
</ul>
<ul class = "short-left-menu">
  <li>
    <%= link_to link_to image_tag("clients_tab.png", title: "Clients", alt: "Clients", style: "width:24px; height: 96px;"), clients_path %>
    <ul class = "short-sub">
      <li class = "colored-mid-lighter-grey">
        <a href = "/clients" tabindex = "-1"><b>CLIENTS</b><p>Index</p></a>
        <a></a>
	  </li>
    </ul>
  </li>
</ul>
<ul class = "left-menu">
  <li>
    <%= link_to link_to image_tag("contacts_tab.png", title: "Contacts", alt: "Contacts", style: "width:24px; height: 96px;"), contacts_path %>
    <ul class = "sub">
      <li class = "colored-mid-grey">
        <a href = "/contacts" tabindex = "-1"><b style = "font-size: 10px;">CLAIMS</b><p>Adjusters</p></a>
	    <a href = "/insurance_carriers" tabindex = "-1"><b style = "font-size: 10px;">INSURANCE</b><p>Carriers</p></a>
	  </li>
      <li class = "colored-mid-grey">
        <a href = "/medical_providers" tabindex = "-1"><b style = "font-size: 10px;">MEDICAL</b><p>Providers</p></a>
        <a href = "/contacts" tabindex = "-1"><b style = "font-size: 10px;">OPPOSING</b><p>Counsel</p></a>
      </li>
      <li class = "colored-mid-grey">
        <a href = "/contacts" tabindex = "-1"><b style = "font-size: 10px;">JUDGES</b><p></p><i></i></a>
        <a href = "/contacts" tabindex = "-1"><b style = "font-size: 10px;">JUDICIAL</b><p>Assistants</p></a>
      </li>
      <li class = "colored-mid-grey">
        <a href = "/contacts" tabindex = "-1"><b style = "font-size: 10px;">BANKS</b><p></p></a>
        <a href = "/contacts" tabindex = "-1"><b style = "font-size: 10px;">OTHERS</b><p></p></a>
      </li>
    </ul>
  </li>
</ul>
