<div id = "message-bar">
  <span id = "message">
    <a id = "clearable" href="#" onclick="$(this).fadeOut(500); return false;">
      <%= render "layouts/flash_messages" %> 
    </a>
  </span>
</div>
